/*applies styling to entire webpage**/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    background-color: #000000;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: silver;
    width: 80%;
    padding: .5%;
    color: #1e53ce;
    margin: auto;
}

.header img {
    max-height: 60px;
    max-width: 60px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.header h1 {
    font-size: 46px;
    margin: 10px;
}

.header nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    display:flex;
    margin: 10px;
    max-height: 50px;
    padding: 10px;
    border-style: solid;
    border-color: black;
}

a {
    color: #1e53ce;
    text-decoration: none;
    margin: auto;
}

.content {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.intro-box {
    max-width: 100%;
    display: block;
    margin-bottom: 25px;
    background-color: silver;
    padding: 10px;
}

.intro-box h2 {
    margin-left: 20px;
}

.intro-box p {
    margin: auto;
    max-width: 60%;
    font-size: 20px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    padding: 20px;
    background-color: silver;
    margin: 0px 0px 25px;
}

.contact div {
    width: 20%;
    height: 65%;
    border-style:solid;
    border-color: black;
    background-color: white;
    padding: 10px;
}

.contact div a {
    font-weight: bold;
    color: black;
}

.project-list{
    background-color: silver;
}

.project-list h2 {
    display: block;
    margin: 20px;
    padding:10px;
}

.segment{
    display:flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.primary{
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 1%;
}

.primary h3 {
    padding: 1%;
    background-color: white;
}

.primary img {
    width: 100%;
    transition: .5s ease;
    padding: 2%;
    background-color: white;
}

.primary img:hover {
    box-shadow: 0 0 0 10px #1e53ce;
    transition: .5s ease;
}

.thumbs {
    justify-content: space-around;
    list-style-type: none;
    display: block;
    width: 30%;
    height: 20%;
}

.thumbs ul{
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbs h3 {
    /*height: 42px;*/
    /* margin: 10%; */
    padding: 5%;
}

.thumbs li{
    height: 20%;
    margin: 2%;
    background: white;
    padding: 1%;
    justify-content: space-around;

}

.thumbs li img {
    width: 100%;
    transition: .5s ease;
}

.thumbs li img:hover {
    box-shadow: 0 0 0 10px #46484d;
    transition: .5s ease;
}

.footer {
    background-color: silver;
    padding: 2%;
}


 @media screen and (max-width: 768px) {
    .header, h1, nav {
        display:block;
        margin: auto;
        justify-content: center;
    }
} 

@media screen and (max-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .segment{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }
    .segment, .primary{
        width: 100%;
    }
    .segment, .thumbs{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    }



