/*applies styling to entire webpage**/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    background-color: #000000;
}

.header {
    padding: 20px;
    justify-content: space-around;
    background-color: silver;
    width: 80%;
    margin: auto;
    color: #1e53ce;
}

.header h1 {
    display: inline-block;
    max-width: 50%;
    font-size: 46px;
}

.header nav {
    max-width: 60%;
    float: right;
    justify-content: space-around;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
    border-style: solid;
    border-color: black;
}

/*keeps text white, regardless of clicked hyperlink*/
a {
    color: #1e53ce;
    text-decoration: none;
}

.content {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.content-box {
    max-width: 100%;
    display: block;
    margin-bottom: 25px;
    background-color: silver;
    padding: 10px;
}

.content-box h1 {
    margin-left: 20px;
}

.content-box p {
    margin: auto;
    max-width: 50%;
    font-size: 20px;
}

.profile-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 20px;
    background-color: silver;
    margin: 0px 0px 25px;
}


.profile-links div {
    width: 200px;
    height: 40px;
    border-style:solid;
    border-color: black;
    background-color: white;
    padding: 10px;
}

.profile-links div a {
    font-weight: bold;
    color: black;
}

.link-images h3 {
    height: 42px;
}

.link-images ul{
    display: flex;
    background-color: silver;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-images li{
    width: 38%;
    margin: 2%;
    background: white;
    padding: 1%;
}

.link-images li img {
    width: 100%;
}





